<html>
<header>
	<div class="header_infos">

<a href="https://thehackingproject.org">I Am an Applicant</a>
<a href="https://thehackingproject.org">API & Docs</a>
<a href="https://thehackingproject.org">About Us</a>
<a href="https://thehackingproject.org">Careers</a>

	</div>

<div id="header_checkr">

<div class="logo_checkr">
<img src="https://checkr.com/wp-content/themes/checkr/assets/img/logo.svg" alt="logo checkr">
</div>


<div class="header_dropdown">

		<div class="dropbtn">PRODUCT</div>
		<div class="dropdown-content1">
			<a href="">Overview</a>
			<a href="">Screenings</a>
			<a href="">Compliance</a>
			<a href="">Security</a>
		</div>
	</div>

	<div class="header_dropdown">
		<div class="dropbtn">STAFFING</div>
		<div class="dropdown-content1">
			<a href="">Overview</a>
		</div>
	</div>

	<div class="header_dropdown">
		<div class="dropbtn">INDUSTRIES</div>
		<div class="dropdown-content1">
			<a href="">Overview</a>
			<a href="">Financial Services</a>
			<a href="">Healthcare</a>
			<a href="">Staffing</a>
			<a href="">Manufacturing</a>
			<a href="">Pantoufles</a>
			<a href="">Pataques</a>
			<a href="">Encore</a>
			<a href="">Overview</a>
			<a href="">Screenings</a>
			<a href="">Compliance</a>
			<a href="">Security</a>
		</div>
	</div>

	<div class="header_dropdown">
		<div class="dropbtn">RESOURCES</div>
		<div class="dropdown-content1">
			<a href="">Overview</a>
			<a href="">Screenings</a>
			<a href="">Compliance</a>
		</div>
	</div>

	<div class="header_dropdown">
		<div class="dropbtn">COMPLIANCE</div>
	</div>

<div id="header_droite">
		<div class"login">LOG IN</div>
		<div class"starter"><a>GET STARTED</a></div>
		</div>


</div>
</header>

<body>

<div class="content">

<div class="container">
	<h1>HIRE GREAT PEOPLE.<br> FASTER.</h1>
	<p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>

	<div class="bouttonjaune">EXPLORE NOW -></div>

	</div>

	<div class="container2">
		<img src="https://zupimages.net/up/18/08/zq4j.gif">
		</div>
	</div>

</body>
</html>
